/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

@keyframes lineLoaderAnimation {
  0% {
    left: 0%;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

#lineLoader {
  animation-name: lineLoaderAnimation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.text-dark {
  color: #202124 !important;
}

.custom_input:focus::-webkit-input-placeholder {
  color: transparent;
}
.custom_input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.custom_input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.custom_input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
