/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

@keyframes lineLoaderAnimation {
  0% {
    left: 0%;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

#lineLoader {
  animation-name: lineLoaderAnimation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.text-dark {
  color: #202124 !important;
}

.custom_input:focus::-webkit-input-placeholder {
  color: transparent;
}
.custom_input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.custom_input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.custom_input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.float-label {
  position: absolute;
  transform: translate(0, 60%) scale(1);
  cursor: text;
}

.float-label-container .float-label {
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.float-label-container:focus-within label {
  transform: translate(0, -10px) scale(0.8);
  color: #1a73e8;
  z-index: 12;
  cursor: default;
}
